/* background: linear-gradient(to bottom right, rgb(0, 26, 114), rgb(58, 10, 65)); */

@font-face {
    font-family: 'Roboto Slab';
    src: url('..\\font\\Roboto_Slab\\RobotoSlab-VariableFont_wght.ttf');
  }

body {
    font-family: 'Roboto Slab','Meiryo UI','sans-serif';
    font-size: 1.5vw;
}

header {
    display: inline-flex;
    width: 100%;
    height: calc(100%/10);
}

header .header-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

header .header-logo {
    display: flex;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
}

header .header-logo img{
    width: 25%;
    height: auto;
    margin: 0.5vmin 0px 0px 0.3vmin;
}

header .header-logo p {
    font-size: 5.2vmin;
    font-weight: 900;
    color: rgb(0, 26, 114);
    padding: 0px;
    margin: 0px 0px 0px 0.4vmin;
    overflow: hidden;
}

.navbtn {
    display: flex;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    text-align: right;
    align-self: center;
}

.navbtn nav {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.navbtn nav ul {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.customer-logo ul li {
    list-style: none;
    display: inline-flex;
    height: 98%;
}

.customer-logo ul li::after {
    content: "|";
    padding: 0 1vw;
    color: rgb(63, 63, 63);
}

.customer-logo ul li:last-child:after {
    content: "";
}




.nav-field {
    display: inline-flex;
    position: relative;
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: calc((100vh/10)*8.8);
    align-items: flex-start;
    margin: 0vmin 0px 0px 0px;
}

.side-containar {
    display: flex;
    background: linear-gradient(to bottom,rgb(25, 20, 90) 3%, rgb(0, 26, 114), rgb(58, 10, 65));
    width: 15%;
    height: calc((100vh/10)*8.8);
}

.main-header {
    position: relative;
    background: linear-gradient(to top right, rgb(0, 26, 114), rgb(58, 10, 65));
    width: 100%;
    height: 35%;
}

.main-header p {
    color: rgb(250, 250, 250);
    padding-left: 2.5vw;
    margin-top: 2vw;
    line-height: 99%;
}

.main-common-link {
    display: inline-flex;
    height: 88%;
    position: absolute;
    top: 6.5vw;
    left: 15vw;
}

.main-containar {
    display: flex;
    flex-wrap: wrap;
}

input[type="radio"] {display: none;}

.common-label {
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 0 1vw;
    background: linear-gradient(to top right, rgb(0, 26, 114), rgb(58, 10, 65));
    border-radius: 5px 5px 0px 0px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(4, 93, 194);
}

.tab_btn {
    width: calc(100%/3);
    display: block;
    text-align: center;
    float: left;
}

.common-tab {
    display: none;
    clear: both;
    overflow: auto;
    width: 39vw;
    height: 88%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 3px rgb(126, 126, 126);
    border-radius: 0px 10px 10px 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(4, 93, 194);
    padding: 0px 0px 0px 1vw;
}

#common1:checked ~ #common1-contents,
#common2:checked ~ #common2-contents,
#common3:checked ~ #common3-contents {
    display: block;
}

input:checked + label {
    background: rgb(255, 255, 255);
    color: rgb(0, 26, 114);
}






.main-group-link {
    display: inline-flex;
    height: 88%;
    position: absolute;
    top: 6.5vw;
    left: 56.5vw;
}

.group-containar {
    display: flex;
    flex-wrap: wrap;
}

input[type="radio"] {display: none;}

.group-label {
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 0 1vw;
    background: linear-gradient(to top right, rgb(0, 26, 114), rgb(58, 10, 65));
    border-radius: 5px 5px 0px 0px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(131, 27, 131);
}

.tab_btn_group {
    width: calc(100%/3);
    display: block;
    text-align: center;
    float: left;
}

.group-tab {
    display: none;
    clear: both;
    overflow: hidden;
    width: 39vw;
    height: 88%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 3px rgb(126, 126, 126);
    border-radius: 0px 10px 10px 10px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(131, 27, 131);
}

#syatai:checked ~ #syatai-contents,
#souan:checked ~ #souan-contents,
#es:checked ~ #es-contents {
    display: block;
}

input:checked + label {
    background: rgb(255, 255, 255);
    color: rgb(0, 26, 114);
}
